{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password-Reset-Confirm{% endblock title %}
{% block main-content %}
<div class="col-sm-7 offset-sm-3 ">
  {% if messages %}
    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show " {% endif %}role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
  <h1>Reset Password Confirm</h1>
  <hr>
  <form method="POST" novalidate >
    {% csrf_token %}
    <div class="mb-3 shadow p-3 login">
      {% for fm in form %}
      {{fm.label_tag}} <br>
      {{fm}} <br>
      <small class="text-danger">{{fm.errors|striptags}}</small> <br>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>
{% endblock main-content %}