{% extends 'app/base.html' %}
{% load static %}
{% block title %}SignUp{% endblock title %}
{% block main-content %}
<div class="container">
   <div class="row my-3">
      <div class="col-sm-5 offset-sm-4 ">
         <h3>Sign Up</h3>
         <hr>

         <form action="" method="POST" novalidate class="shadow p-5 bg-dark text-light">
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show " {% endif %}role="alert">
               <strong>{{message}}</strong>
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
             </div>
             {% endfor %}
             {% endif %}

            {% csrf_token %}
            <div class="mb-3 signup ">
               {% for fm in form %}
                  {{fm.label_tag}} <br>
                  {{fm}} <br>
                  <small class="text-danger">{{fm.errors|striptags}}</small> <br>
               {% endfor %}
            </div>
               <button type="submit" class="btn btn-light">SignUp</button>

            <div class="text-end text-light fw-bold"><small>Existing User ? <a href="{% url 'log_in' %}"class="text-primary">Login Now</a> </small></div> 

            {% if form.non_field_errors %}
               {% for error in form.non_field_errors %}
                  <p class="alert alert-danger my-3">{{error}}</p>
               {% endfor %}
            {% endif %}
         </form>
      </div>
   </div>
</div>
{% endblock main-content %}